
.googleSignIn{
    font-weight: 600;
    border-radius: 14px;
}

.signinCard{
    /* box-shadow: #e399ff; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.signinCard a{
    font-weight: bolder;
    font-size: 1.2em;
    border-radius: 15px;
    /* background-color: red; */
}


.signinCard a:hover{
    background-color: rgba(1, 108, 195, 0.2);

}

.main-back{
    background-image: url(../../assets/next-back.jpg);
    background-size: cover;
}
