body {
    background: #eee;
}

/* .navbar{
    margin-left: 250px;
} */

/* .navbar{
    z-index: 1;
} */
nav{
    margin-left: 250px;
}

@media screen and (max-width:768px) {
    nav {
        margin-left: 0px !important;

    }
}

.navbar {
    padding: 0;
    /* background-color: red!important; */
    background-color: #070F2B !important;
    /* border-left: 1px solid white; */
}

#side_nav {
    background: #000;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background: #eee;
}

.sidebar li.active {
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: #000;
}

.sidebar li a {
    color: #fff;
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;

    }

    #side_nav.active {
        margin-left: 0;
    }
}

.profile{
    /* background-color: red; */
    margin-right: 60px;
}

.profile img{
    position: absolute;
    right: 2px;
    top:2px;
    object-fit: cover;
    width: 70px;
    /* background-color:aqua; */
    border-radius: 50%;

}